<app-search></app-search>
<app-tags></app-tags>
<app-not-found
  [visible]="!books || !books.length"
  resetLinkText="Reset Search"
></app-not-found>
<ul>
  <li *ngFor="let book of books">
    <a routerLink="/book/{{book.id}}">
      <img [src]="book.imageUrl" [alt]="book.name">
      <div class="content">
        <div class="name">
          {{book.name}}
        </div>
        <div class="stars">Rating:{{book.stars}}</div>
        <div class="product-item-footer">
          <div class="description">
            <span *ngFor="let description of book.description">{{description}}</span>
          </div>
          <div class="pages">
            <span>Pages:{{book.pages}}</span>
          </div>
        </div>
        <div class="price">
          <span>{{book.price | currency}}</span>
        </div>
      </div>
    </a>
  </li>
</ul>
